{% extends "base.html" %} {% block title %}Datenbank{% endblock %} {% block content %}
<form method="GET">
    <h3 align="center">Datenbank</h3>
    <div class="container-fluid">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" id="search" name="search" placeholder="Suchen..." aria-label="Suchen">
        <button class="btn btn-outline-success" type="submit">Suchen</button>
      </form>
    </div>
</form>
{% if suchergebnis %}
<ul class="list-group list-group-flush" id="suchergebnis">
  <li class="list-group-item">
    {{suchergebnis}}
  </li>
</ul>
{% endif %}

{% endblock %}