{% extends "base.html" %} {% block title %}Registrieren{% endblock %} {% block content %}
<form method="POST">
  <h3 align="center">Registrieren</h3>
  <div class="form-group">
    <label for="email">Email Adresse</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Email eingeben"
    />
  </div>
  <div class="form-group">
    <label for="first_name">Vorname</label>
    <input
      type="text"
      class="form-control"
      id="first_name"
      name="first_name"
      placeholder="Vornamen eingeben"
    />
  </div>
  <div class="form-group">
    <label for="password1">Passwort</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Passwort eingeben"
    />
  </div>
  <div class="form-group">
    <label for="password2">Passwort bestätigen</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Passwort erneut eingeben"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-success">Bestätigen</button>
</form>
{% endblock %}